
<div class="card.styles.css">
    <div class="center">
        <a href="/blog-in-html-css/blogpost.html" class="text-center">
            <img src="../../img/coffee.jpg" alt="" class="card-image">
            <div class="home-article-bottom m-1">
                <h3>Title</h3>
                <p class="m-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam esse
                    repellendus nulla
                    eius placeat eos dicta, dolore corporis sed voluptatem consequuntur similique! Nulla,
                    incidunt! Amet perferendis consequatur maiores? Quia eum, tempore autem aliquam,
                    necessitatibus neque molestias repudiandae cumque rerum at nulla, molestiae praesentium.
                    Eius soluta itaque corrupti vitae optio expedita.</p>
                <div class="text-muted">
                    <span class="author_span">Author </span><br><span> Date | </span><span> 7 min read</span>
                </div>
            </div>
        </a>
    </div>
    <div class="center">
        <a href="/blog-in-html-css/blogpost.html" class="text-center">
            <img src="../../img/business.jpg " alt="" class="card-image">
            <div class="home-article-bottom m-1">
                <h3>Title</h3>
                <p class="m-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam esse
                    repellendus nulla
                    eius placeat eos dicta, dolore corporis sed voluptatem consequuntur similique! Nulla,
                    incidunt! Amet perferendis consequatur maiores? Quia eum, tempore autem aliquam,
                    necessitatibus neque molestias repudiandae cumque rerum at nulla, molestiae praesentium.
                    Eius soluta itaque corrupti vitae optio expedita.</p>
                <div class="text-muted">
                    <span class="author_span">Author </span><br><span> Date | </span><span> 7 min read</span>
                </div>
            </div>
        </a>
    </div>
    <div class="center">
        <a href="/blog-in-html-css/blogpost.html" class="text-center">
            <img src="../../img/business.jpg " alt="" class="card-image">
            <div class="home-article-bottom m-1">
                <h3>Title</h3>
                <p class="m-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam esse
                    repellendus nulla
                    eius placeat eos dicta, dolore corporis sed voluptatem consequuntur similique! Nulla,
                    incidunt! Amet perferendis consequatur maiores? Quia eum, tempore autem aliquam,
                    necessitatibus neque molestias repudiandae cumque rerum at nulla, molestiae praesentium.
                    Eius soluta itaque corrupti vitae optio expedita.</p>
                <div class="text-muted">
                    <span>Author |</span><span> Date | </span><span> 7 min read</span>
                </div>
            </div>
        </a>
    </div>
    <div class="center">
        <a href="/blog-in-html-css/blogpost.html" class="text-center">
            <img src="../../img/business.jpg " alt="" class="card-image">
            <div class="home-article-bottom m-1">
                <h3>Title</h3>
                <p class="m-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam esse
                    repellendus nulla
                    eius placeat eos dicta, dolore corporis sed voluptatem consequuntur similique! Nulla,
                    incidunt! Amet perferendis consequatur maiores? Quia eum, tempore autem aliquam,
                    necessitatibus neque molestias repudiandae cumque rerum at nulla, molestiae praesentium.
                    Eius soluta itaque corrupti vitae optio expedita.</p>
                <div class="text-muted">
                    <span>Author |</span><span> Date | </span><span> 7 min read</span>
                </div>
            </div>
        </a>
    </div>
</div>



