<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Page</title>
    <link rel="stylesheet" href="style/styles.css">
</head>
<body>
    <header>
    </header>
    <main id="articles-container"></main>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.0.5/dist/handlebars.min.js"></script> <!--Using Handlebars because is the most easy way I found to do this-->
    <script id="article-template" type="text/x-handlebars-template">
        <article>
            <div class="article">
                <div class="meta">
                    <span class="date">{{date}}</span>
                    {{#if readingTime}}<span class="read-time">· {{readingTime}} read</span>{{/if}}
                </div>
                <h1 class="title">{{title}}</h1>
                {{#if rating}}<span class="rating">Rating: {{rating}}/5</span>{{/if}}
                <p class="text">{{description}}</p>
                {{#if imageurl}}
                <figure>
                    <img src="{{imageurl}}" alt="Image" class="image">
                </figure>
                {{/if}}
                {{#if author}}<p class="author">By {{author}}</p>{{/if}}
            </div>
        </article>
    </script>
    <script type="module" src="scripts/script.js"></script>
</body>
</html>