<header id="header" class="m-1">
    <nav class="nav-bar">
        <div class="navLeft">
            <a href="/homework/index.html">
                Logo
            </a>
        </div>
        <div class="navCenter">
            <ul class="nav-items">
                <li class="nav-item"><a href="/homework/index.html">Home</a></li>

                <li class="nav-item"><a href="/homework/contact.html">Contact</a></li>
            </ul>
        </div>
        <form action="/homework/search.html">
            <div class="navRight">
                <input type="search" name="query" class="form-input " placeholder="Search Hear">
                <button class="btn-search" type="submit">Search </button>
            </div>
        </form>
    </nav>
</header>