/* Aceste linii de cod se regasesc si in /style/style.css
Nu am vrut sa modific si pagina index.html ca sa nu stric ceva pe acolo sau sa nu fie conflicte */

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #888;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

/* .nav-item {
    display: inline;
    color: black; doesnt work
    a { text-decoration: none; }
} */

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    a:link, a:visited, a:hover, a:active {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }
}

/* a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  } */

  .navLeft {
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    a:link, a:visited, a:hover, a:active {
        color: rgb(0, 214, 214);
        background-color: transparent;
        text-decoration: none;
      }
  }

  .navCenter {
    font-weight: 500;
    font-size: 20px;
    align-items: stretch;
  }

  .navRight {
    size: 20px;
  }

  .form-input {
    border-color:rgb(0, 214, 214);
    border-radius: 6.9%;
  }

  .btn-search{
    background-color: rgb(0, 214, 214);
    border-radius: 4px;
    border-color: rgb(0, 214, 214);
    color: white;
  }