<nav id="navigation" >
<div class="NavBar" >
    <div class="NavItem" >
        <div>
            <a href="./index.html" style="color:rgb(66, 170, 170);"> <b>Logo</b> </a>
        </div>
        <div>
            <a href="./index.html" style="color:black;
            "> Home </a>
        </div>
    </div>
    <div class="NavItem">
    <div>
        <div>
            <a href="./contact.html" style="color:black;
            "> Contact </a>
        </div>
    </div>
        <form action="./search.html">
            <div class="">
                <input type="search" name="query" class="form-input " placeholder="Search Here">
                <button class="Btn" type="submit">Search </button>
            </div>
        </form>
    </div>
</div>
</nav>