.article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid #b3d8d6; 
    border-radius: 10px;     
    overflow: hidden;        
    padding: 20px;
    max-width: 300px;     
    margin: 10px;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    background-color: #c5e3f662;    
}

.article:hover {
    transform: translateY(-8px); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.article-content {
    text-align: center;
    padding: 10px 0;
}

.article-content img {
    max-width: 100%; /* Makes the image responsive */
    height: auto;
    border-radius: 10px;
}

.article-content h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0 10px;
}

.article-content p {
    font-weight: bold;
    font-size: 16px;
    color: #555;
}

.article-footer {
    display: flex;
    flex-direction:column;
    justify-content: right;
    font-size: 14px;
    color: #777; 
    padding-top: 10px;
}

.article-footer div {
    margin-top: 5px;
}

.article-author {
    font-weight: bold;
}

.article-ttr, .article-date {
    color: #444;
    font-weight: bolder;
}
.article-footer div:hover {
    color: #007bff; 
    cursor: pointer;
    transition: color 0.3s ease;
}
.article-footer .article-author:hover{
    color: #0050a5; 
    cursor: pointer;
    transition: color 0.3s ease;
}
@media (min-width: 500px) {
    .article-footer {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

    }
    .article-author {
        margin-bottom: 0;
    }
    .article-footer div {
        flex-direction: row; 
        margin-top: 0;
    }
    .article-footer div:not(:last-child) {
        margin-right: 5px;
    }
}

