.content {
    display: flex;
}

.content-left {
    flex-grow: 7;
    font-family: 'Times New Roaman';
    margin-left:30px ;
    margin-top:40px;
}

.content-right img{
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    border: 3px dashed lightseagreen;
    margin-right:30px ;
    margin-top:40px;
    margin-left:30px;
}

.m-2 {
    display: flex;
    flex-direction: row;
}