<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Page</title>
    <link rel="stylesheet" href="style\styles.css">
</head>
<body>
    <header>
    </header>
    <main>
        <article>
            <div class="article">
                <div class="meta">
                    <span class="date">2022-07-25</span>
                    <span class="read-time">· 5 min read</span>
                </div>
                <h1 class="title">The Future of Artificial Intelligence</h1>
                <span class="rating">Rating: 4.5/5</span>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
                <figure>
                    <img src="assets\images.jpg" alt="Cat" class="image">
                    <figcaption>Image caption</figcaption>
                </figure>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
                <p class="author">By John Doe</p>
            </div>
        </article>
    </main>
</body>
</html>
</html>