.Nav-Bar {
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}


.NavItem {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
}

.NavItem:hover {
    color: lightseagreen;
}

.NavItem1 {
    color: lightseagreen;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-right: 400px;
}

.NavItem1:hover {
    color: black;
}

.searchbar {
    display: flex;
    align-items: center;
    margin-left: 350px;
}

.form-input {
    padding: 5px 10px;
    border: 1px solid lightseagreen;
    border-radius: 4px 4px 4px 4px;
    margin-right: 5px;
}

.Btn {
    padding: 5px 15px;
    border: none;
    background-color: lightseagreen; 
    color: white;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Btn:hover {
    background-color: rgb(3, 130, 124);
}